//файл обнуляющих стилей
@import "nullstyle.scss";
@import "fonts.scss";

body {
      height: 100%;
      font-family: "Lato-Regular", sans-serif;
      font-weight: 400;
      background-color: #202020;
      color: #484848;
      font-size: 20px;
      line-height: 120%;
}

.wrapper {
      min-height: 100%;
      display: flex;
      flex-direction: column;
}

.container {
      max-width: 1370px;
      margin: 0 auto;
}

.link {
      color: #000000;
      line-height: 120%;
}
.link:hover {
      text-decoration: underline;
}

.button {
      color: #ffffff;
      background-color: #01996d;
      padding: 13px 50px;
      border: 1px solid #01996d;
      border-radius: 4px;
      line-height: 125%;
      text-align: center;
}
.button:hover {
      text-shadow: 0px 0px 5px #ffffff;
}
.button:active {
      text-shadow: 0px 0px 10px #ffffff;
      background-color: #007453;
}

// -------------------HEADER-------------------------
.header {
      background-color: #ffffff;
      position: relative;

      &__row {
            position: relative;
            display: flex;
            width: 100%;
            align-items: center;
            padding: 17px 10px;
      }
      @media (min-width: 1370px) {
            &__row {
                  padding: 17px 0px;
            }
      }

      &__column:nth-child(2) {
            flex: 1 1 auto;
      }

      &__column:not(:last-child) {
            padding: 0px 20px 0px 0px;
      }
      @media (min-width: 1370px) {
            &__column:not(:last-child) {
                  padding: 0px 172px 0px 0px;
            }
      }

      &__logo {
            display: block;
            font-family: "Avenir-Black", sans-serif;
            font-weight: 900;
            font-size: 28px;
            color: #01996d;
      }

      &__menu {
      }

      &__burger-menu {
            display: flex;
            justify-content: flex-end;
      }
      @media (min-width: 1024px) {
            &__burger-menu {
                  display: none;
            }
      }

      &__login {
            width: 100%;
            display: none;
            align-items: center;
            justify-content: space-between;
      }
      @media (min-width: 540px) {
            &__login {
                  display: flex;
            }
      }
}
.menu {
      &__list {
            display: none;
            width: 100%;
            align-items: center;
      }
      @media (min-width: 1024px) {
            &__list {
                  display: flex;
                  flex-wrap: wrap;
            }
      }

      &__list li:not(:last-child) {
            margin: 0px 72px 0px 0px;
      }

      &__item {
            flex: 1 1 auto;
            display: inline-block;
            text-transform: capitalize;
      }
}
.burger {
      &__button {
            position: relative;
            z-index: 3;
            cursor: pointer;
            width: 39px;
            height: 39px;
            padding: 6px 0px 0px 0px;
            transition: 0.1s;
      }
      &__button:hover {
            background-color: rgba(1, 153, 109, 0.15);
            box-shadow: 0px 0px 5px 7px rgba(1, 153, 109, 0.15);
            border-radius: 4px;
      }
      &__button:active {
            background-color: rgba(1, 153, 109, 0.25);
            box-shadow: 0px 0px 5px 7px rgba(1, 153, 109, 0.25);
            border-radius: 4px;
      }
      &__button p {
            display: block;
            border-bottom: 3px solid #000000;
            margin: 0px 0px 10px 0px;
      }

      &__items {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 50vh;
            max-height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: rgba(255, 255, 255, 1);
            box-shadow: 0px 0px 1px 3px rgba(255, 255, 255, 1);
            padding: 5%;
            opacity: 0;
            pointer-events: none;
            overflow: hidden;
      }

      &__item {
            text-transform: capitalize;
      }

      &__list {
            position: relative;
            z-index: 2;
            display: block;
      }

      &__list li {
            margin: 0px 0px 2% 0px;
      }

      &__login {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
      }
      @media (min-width: 540px) {
            &__login {
                  display: none;
            }
      }

      &__button-close {
            position: relative;
            z-index: 2;
            height: 10px;
            color: black;
      }
}
.login {
      &__link {
            flex: 1 1 auto;
            display: block;
            margin: 0px 35px 0px 0px;
      }

      &__button {
            display: block;
      }
}

// -------------------MAIN---------------------------
.main {
      flex: 1 1 auto;
}
// -------------------FOOTER-------------------------
// -------------------ADDITIONAL---------------------
.unactive {
      display: none;
}

.visible {
      opacity: 1;
      pointer-events: auto;
      animation-name: dropdown;
      animation-duration: 0.5s;
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes dropdown {
      0% {
            opacity: 0;
            min-height: 0vh;
      }

      100% {
            opacity: 1;
            min-height: 50vh;
      }
}
